body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: rgb(50, 50, 50, 1);
}

.row{
  margin-left: auto;
  margin-right: auto;
}

.top-row{
  justify-content:space-between;
  width: 100%;
}

.content{
  padding: 0%;
}

.page-container{
  margin-left: auto;
  margin-right: auto;
}

.home-container{
  padding: 0;
}

.banner {
  max-height: 600px;
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  background-attachment:fixed;
  padding: 0px;
  margin-right: 0px;
  margin-left: 0;
  animation-name: banner;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 0s;
  transition: 0s;
  transition-timing-function: ease-in-out;
}

.carousel-caption{
  margin-bottom: 225px;
  color: rgba(240, 240, 240, 0.8)
}

.carousel-caption p{
  font-size: 20px;
  font-weight: normal;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  width: 40px;
  height: 40px;
}

@keyframes text-animation{
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100%{
    transform: translate(0px);
    opacity: 1;
  }
}

.hand, .price, .quality{
  width: auto;
  max-height: 600px;
  height: 25vw;
  min-height: 275px;
  background-position: center;
  background-size: cover;
  text-align: center;
  animation-name: home-icons;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  transition-timing-function: ease-in-out;
}

@keyframes home-icons{
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translate(0px);
  }
}

.hand img, .price img, .quality img{
  height: 12vw;
  width: 12vw;
  min-width: 80px;
  min-height: 80px;
  max-width: 150px;
  max-height: 150px;
  margin-top: 50px;
}

.hand-text, .quality-text{
  color: rgba(50, 50, 50, 1);
  padding-top: 10%;
  letter-spacing: 2px;
}

.price-text{
  color: rgba(255, 132, 59, 1);
  padding-top: 10%;
  letter-spacing: 2px;
}

.spacer{
  height: 50px;
  background-color: rgba(245, 225, 180, 1);
}

.active{
  background-color: rgba(245, 245, 245, 1); !important;
}


@media only screen and (min-width: 1600px) {
  .banner {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1400px) {
  .banner {
    width: auto;
    max-height: 650px;
  }

  .carousel-caption{
    margin-bottom: 200px;
    color: rgba(240, 240, 240, 0.8)
  }
}


@media only screen and (max-width: 1000px){
  .carousel-caption{
    margin-bottom: 225px;
  }
}

@media only screen and (max-width: 900px){
  .carousel-caption{
    margin-bottom: 250px;
  }
}

@media only screen and (max-width: 767px) {

  .banner{
    margin-top: 50px;
  }

  .hand img, .price img, .quality img{
    height: 120px;
    width: 120px;
  }

}

@media only screen and (max-width: 576px) {
  .hand, .price, .quality{
    width: 100%;
  }


}
