nav {
  background: none;
  position: fixed;
  background-color: rgba(50, 50, 50, 1);
  top:0;
  left:0;
  right:0;
  width: 100%;
  z-index: 20;
  transition: 0.35s all ease;
  height: 120px;
}

.collapsing a{
  width: 100%;
  padding-bottom: 10px;
}

.active{
  background-color: rgba(255, 132, 59, 0.2); !important;
  color: rgba(50, 50, 50, 1);
}


nav ul {
  list-style: none;
  transition: 0.35s all ease;
  background-color: rgba(255, 132, 59, 1);

  height: 70px;
 }

nav li {
  display: inline-block;
  color: rgba(50, 50, 50, 1);
  font-family: sans-serif;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;

}

.nav-item{
  width: 100px;
}

.nav-item:hover{
  animation-name: link-item-hover;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  background-color: rgba(245, 225, 180, 1);
  transition-timing-function: ease-in-out;
}

@keyframes link-item-hover{
  0% {transform: scale(1)}
  100% {transform: scale(1.1);}
}

.nav-link{
  margin-top: 20%;
  font-size: 14px;
  letter-spacing: 2px;
  color: rgba(50, 50, 50, 1);
}

.nav-link:hover{
  color: rgba(50, 50, 50, 1);
}



#nav-logo{
  height: 70px;
  width: auto;
  margin-left: 10vw;
}

.navbar-nav{
  margin-left: auto;
}

.scrolled {
  background: rgba(50, 50, 50, 1);
  transition: 0.35s all ease;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: -10px;
  width: 80vw;
  height: 60px;
}



.scrolled .nav-item:hover{
  animation-name: scrolled-link-item;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  color: rgba(50, 50, 50, 1);
  transition-timing-function: ease-in-out;
}

@keyframes scrolled-link-item{
  0% {transform: scale(1)}
  100% {transform: scale(1.1);}
}

.scrolled .nav-link:hover{
  color: rgba(50, 50, 50, 1)
}

.scrolled .collapsing{
  padding-top: 40px;
  width: 100%;
}

.scrolled .collapsing a{
  padding-bottom: 10px;
}

.scrolled ul {
  padding: 0px ;
  background-color: rgba(50, 50, 50, 1);
  margin-right: 10px;
  width: auto;
  margin-top: -40px;
  height: 40px;
}

.scrolled li {
  color: white;
  margin-right: auto;
  margin-left: auto;
}

.scrolled .nav-link{
  padding-top: 10%;
  margin: 0px;
  color: rgba(255, 132, 59, 1);
}

.scrolled #nav-logo{
  height: 40px;
  width: auto;
  margin-left: 0px;
}

#menu-button{
  float: right;
  padding: 10px 7.5px 10px 10px;
  font-size: 12px;
  letter-spacing: 2px;
  border: 1px solid rgba(255, 132, 59, 1);
  color: rgba(255, 132, 59, 1);
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 0px;
}

#navScrollspy{
  text-align: center;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

@media only screen and (max-width: 767px) {

  nav{
    height: 95px;
  }

  #navScrollspy{
    text-align: center;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    height: auto;
    padding: 0%;
    background-color: rgba(50, 50, 50, 1);
  }

  .scrolled {
    background-color: rgba(50, 50, 50, 1);
    width: 100%;
    height: auto;
    margin-left: 0vw;
    margin-right: 0vw;
  }

  .scrolled .collapsing{
    height: 20px;
  }

  .scrolled .collapsing nav{
    padding-bottom: 0px;
    /* transition: 0.35s all ease; */
  }

  .scrolled #nav-logo{
    margin-left: 10vw;
    height: 40px;
  }

  nav li {
    width: 100%;
    height: 30px;
    margin-top: 15px;
    margin-left: 0vw;
    margin-right: 0vw;
  }


  .nav-item{
    width: auto;
  }

  .nav-link{
    color: rgba(255, 132, 59, 1);
    margin: 0px;
  }

  .scrolled .nav-item{
    width: 100%;
  }

  .scrolled .nav-link{
    padding-top: 7px;;

  }

  #menu-button{
    margin: 10px 7.5px 10px 10px;
  }




}
